.about-us {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about-us-container {
  width: 50%;
  font-size: 1.2rem;
}
@media (max-width: 1000px) {
  .about-us-container {
    width: 90%;
  }
}
.about-us-container p {
  font-size: 1rem;
}
.about-us-container span {
  font-weight: bolder;
  color: rgb(119, 76, 48);
  font-size: 1.2rem;
}
.footer{
  margin-top: 0;
}

