
*::hover,
*::after{
    box-sizing: inherit;
}
html{
    box-sizing: border-box;
}

body,nav li,ul{
    padding: 0;
    margin: 0;
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
}


.flex{
    display: flex;
}

hr{
    border: 2px solid #222222;
    width: 50px;
}

.top-heading h1{
  font-size: 3rem;
  font-weight: normal;
  line-height:.5;
}

.image-mix-gallery-aboutus{
    margin-top: 5rem;
}
.image-mix-gallery-aboutus img{
  width: 100%;
}