/* typography */

article {
  font-family: "Open Sans", sans-serif;
  color: #404040;
}

article h2,
article h5,
article p {
  font-weight: normal;
  
}
article h2 {
  font-size: 2rem;
}
article h5 {
  font-size: 1.1rem;
}
article p {
  font-weight: 300;
  font-size: 0.9rem;
  line-height: 40px;
  letter-spacing: 1px;
}
article q {
  font-weight: 600;
  color: rgb(32, 25, 25);
}

article hr {
  border: 2px solid #222222;
  width: 50px;
  margin-top: -1rem;
}

/* parents */

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}

@media (max-width: 1530px) {
  .container {
    width: 80%;
  }
}

.learnmore-services {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 800px) {
  .learnmore-services {
    flex-direction: column;
  }
}

.overlaydesign {
  margin-top: 7rem;
  width: 20rem;
  object-fit: cover;
}

/* images */

article img {
  width: 100%;
}

.learnmore-services img {
  width: 20rem;
  margin: 5rem 3rem 0 0;
}

.meetup .learnmore-services img {
  width: 10rem;
  margin: 5rem 0 0 2rem;
}
.reviews .learnmore-services img {
  width: 25rem;
}
@media (max-width: 1329px) {
  .learnmore-services img {
    margin: 5rem 3rem 3rem 0;
  }

  .meetup .learnmore-services img {
    margin: 5rem 3rem 3rem 0;
  }
}

@media (max-width: 799px) {
  .learnmore-services img {
    order: -1;
    width: 12rem;
  }

  .meetup .learnmore-services img {
    width: 10rem;
  }

  .overlaydesign img {
    width: 18rem;
  }
  .reviews .learnmore-services img {
    width: 15rem;
  }
}

@media (max-width: 300px) {
  .overlaydesign img {
    width: 12rem;
  }
}

/* mobile responsive buttons */
@media (max-width: 430px) {
  .meetup .learnmore-services .secondary-btn {
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
  }
}

@media (max-width: 330px) {
  .meetup .learnmore-services .secondary-btn {
    font-size: 0.6rem;
  }
}
