
.primary-btn{
    color:var(--white);
    background-color: var(--primary-button-light-brown);
}

.primary-btn:hover{   
    background-color: var(--primary-dark-brown);
} 

.secondary-btn{
    color:var(--white);
    background-color: var(--primary-dark-brown);
}

.secondary-btn:hover{   
    background-color: rgb(92, 88, 88);
} 



.primary-btn,
.secondary-btn{   
    padding: .72rem 1.5rem;
    font-family: 'Oxygen', sans-serif;
    font-style: normal;
    font-weight: bold;
    border-radius:25px 5px 25px 5px;
    border: 0;
    transition:all .3s ease-in-out;
}

.primary-btn:hover,
.secondary-btn:hover{   
    border-radius:5px 25px 5px 25px;
} 

@media screen and (max-width:980px) {
    .primary-btn{
        padding: .5rem 1rem;
    }
}
@media screen and (max-width:768px){
    .primary-btn,
    .secondary-btn{
        padding: .72rem 1.5rem;;
    }
}

